footer {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;
    padding: 5px 20px;
    font-size: 16px;
}
body.light footer {
    background-color: rgba(255,255,255,0.7);
    color: #444444;
}

footer a {
    color: #FFFFFF;
}
body.light footer a {
    color: #444444;
}