header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #FFFFFF;
    padding: 20px;
}

header .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}

.logo {
    width: 80px;
    margin-right: 20px;
}

header p {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 20px;
    width: 50px;
    margin: 0;
}

header p:first-line {
    text-indent: -20px;
}