section.input {
    width: 80%;
    border: none;
    margin: 20px auto;
    display: flex;
}

section.input input {
    background-color: rgba(255,255,255,0.4);
    height: 40px;
    color: #FFFFFF;
    border: none;
    width: 90%;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
}

section.input input:focus {
    background-color: #FFFFFF;
    color: #444444;
}

section.input input::placeholder {
    color: rgba(255,255,255,0.7);
}
section.input input:focus::placeholder {
    color: gray;
}

section.input button {
    width: 70px;
    height: 40px;
    background-color: rebeccapurple;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}
section.input button:hover {
    background-color: rgb(69, 40, 99);
}