section.input {
    width: 80%;
    border: none;
    margin: 20px auto;
    display: flex;
    margin-top: 30vh;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section.input.top {
    margin-top: 50px;
}

section.input input {
    background-color: rgba(255,255,255,0.4);
    height: 45px;
    color: #FFFFFF;
    border: none;
    width: 90%;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
    border-radius: 3px 0 0 3px;
}

section.input input:focus {
    background-color: #FFFFFF;
    color: #444444;
}

section.input input::placeholder {
    color: rgba(255,255,255,0.7);
}
section.input input:focus::placeholder {
    color: gray;
}

section.input button {
    height: 45px;
    min-width: calc(10% + 1px);
    background-color: rebeccapurple;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
}

section.input button:hover {
    background-color: rgb(69, 40, 99);
}