body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/backgroundImg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
  padding-top: 120px;
  margin: auto;
}

.maxWidth {
  max-width: 1200px;
  margin: auto;
}